body {
    background-color: black;
    margin: 0; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    height: 100vh;
}

header {
    background-color: slategrey;
    text-align: center;
    padding: 1rem 0;
    border-bottom: solid 1px red;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;

}

header a {
    color: white;
    background-color: black;
    border: solid 1px gray;
    border-radius: 3px;
    padding: .25rem .5rem;
    margin-right: .5rem;
    line-height: 1.5rem;
    text-decoration: none;
}

header a:hover, form button:hover {
    background-color: red;
    cursor: crosshair;
}

.container {
margin: auto;
padding: 2rem;
background-color: slategrey;
border: solid 1px gray;
border-radius: 100px;
box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 1);
}

.container > h1 {
    margin: 1rem 1rem 1rem 1rem;
}

form input, form button {
    width: 100%;
    min-width: 200px;
    box-sizing: border-box;
    margin: .75rem 0;
    padding: .25rem;
    line-height: 1.25rem;
    font-size: .75em;
    border: dashed 1px gray;
    border-radius: 3px;
}

form button {
    color: white;
    background-color: black;
}

footer {
    margin-top: .75rem;
    border-top: solid 1px lightgray;
    padding-top: 1rem;
    text-align: center;
}

footer img {
    margin: 0 .5rem;
}

footer img:hover {
    cursor: crosshair;
}